<div class="row">
    <div class="col-md-6 offset-3 p-5">
        <h1>{{ 'LOGIN' | translate }}</h1>
        <form novalidate name="loginForm" ng-submit="onSubmit(loginForm)">
            <div class="form-group">
                <label for="email">Email {{ 'ADDRESS' | translate }}</label>
                <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="{{ 'ENTER' | translate }} email"
                        ng-model="email"
                        required
                        ng-class="inputHasError(loginForm, 'email')"
                >
                <small id="emailHelp" class="form-text text-muted">{{ 'HINT' | translate }}: user@mail.com</small>
                <div ng-show="loginForm.email.$error.required" class="invalid-feedback">Email {{ 'IS_REQUIRED' |
                    translate }}.
                </div>
                <div ng-show="loginForm.email.$error.email" class="invalid-feedback">
                    {{ 'INVALID' | translate }} email {{ 'ADDRESS' | translate }}.
                </div>
                <div ng-show="loginForm.email.$error.wrong && !loginForm.email.$error.required && !loginForm.email.$error.email"
                     class="invalid-feedback">{{ 'INVALID' | translate }} email {{ 'OR' | translate }} {{ 'PASSWORD' |
                    translate }}.
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">{{ 'PASSWORD' | translate }}</label>
                <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder="{{ 'ENTER' | translate }} {{ 'PASSWORD' | translate }}"
                        ng-model="password"
                        required
                        ng-class="inputHasError(loginForm, 'password')"
                >
                <small id="passwordHelp" class="form-text text-muted">{{ 'HINT' | translate }}: password</small>
                <div ng-show="loginForm.password.$error.required" class="invalid-feedback">
                    <span class="text-capitalize">{{ 'PASSWORD' | translate }}</span>
                    {{ 'IS_REQUIRED' | translate }}.
                </div>
            </div>
            <p><a ui-sref="forgot-password">{{ 'FORGOT' | translate }} {{ 'YOUR' | translate }} {{ 'PASSWORD' |
                translate }}?</a></p>
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid || loading">
                <i ng-show="loading" class="fa fa-spinner fa-spin"></i>&nbsp;{{ 'SUBMIT' | translate }}
            </button>
        </form>
    </div>
</div>