<div class="card user-card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">USER NAME</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Age</h5>
        <p class="card-text">55</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Role</h5>
        <p class="card-text">Admin</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Day of last login</h5>
        <p class="card-text">13 sep 2017</p>
    </div>
</div>