<div>
    <h3>{{ 'EDIT' | translate }} {{ 'PROFILE' | translate }}</h3>
    <form novalidate name="userForm" ng-submit="onSubmit(userForm)">
        <div class="form-group">
            <label for="name">{{ 'NAME' | translate }}</label>
            <input
                    name="name"
                    ng-model="profile.name"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter name"
                    ng-class="inputHasError(userForm.name)"
                    required
                    unique-username
                    username
            >
            <small id="nameHelp" class="form-text text-muted">{{ 'HINT' | translate }}: {{ 'NAMES' | translate }} "User"
                {{ 'AND' | translate }} "Username" {{ 'BUSY' | translate }}.
            </small>
            <div ng-show="userForm.name.$error.required" class="invalid-feedback">{{ 'NAME' | translate }} {{
                'IS_REQUIRED' | translate }}.
            </div>
            <div ng-show="userForm.name.$error.username" class="invalid-feedback">{{ 'INVALID_USERNAME_MESSAGE' |
                translate }}
            </div>
            <div ng-show="userForm.name.$pending.uniqueUsername && userForm.name.$touched">
                <i class='fa fa-spinner fa-spin'></i>
                {{ 'CHECKING' | translate }}...
            </div>
            <div ng-show="userForm.name.$error.uniqueUsername"
                 class="invalid-feedback">{{ 'TAKEN_USERNAME' | translate }}!
            </div>
        </div>
        <div class="form-group">
            <label for="age">{{ 'AGE' | translate }}</label>
            <input
                    ng-model="profile.age"
                    type="text"
                    class="form-control"
                    id="age"
                    placeholder="Enter age"
                    name="age"
                    required
                    integer="[18, 65]"
                    ng-class="inputHasError(userForm.age)"
            >
            <div ng-show="userForm.age.$error.required" class="invalid-feedback">{{ 'AGE' | translate }} {{
                'IS_REQUIRED' | translate }}.
            </div>
            <div ng-show="userForm.age.$error.integer" class="invalid-feedback">{{ 'INVALID_AGE_MESSAGE' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label for="birthday">{{ 'BIRTHDAY' | translate }}</label>
            <input
                    ng-model="profile.birthday"
                    type="text"
                    class="form-control"
                    id="birthday"
                    placeholder="Enter birthday"
                    name="birthday"
                    required
                    date
                    ng-class="inputHasError(userForm.birthday)"
                    format-date="{{ DATE_FORMAT }}"
            >
            <div ng-show="userForm.birthday.$error.required" class="invalid-feedback">{{ 'BIRTHDAY' | translate }} {{
                'IS_REQUIRED' | translate }}.
            </div>
            <div ng-show="userForm.birthday.$error.date" class="invalid-feedback">{{ 'INVALID_DATE_MESSAGE' | translate
                }}
            </div>
        </div>
        <div class="form-group">
            <label for="dayOfLogin">{{ 'LOGIN_DAY' | translate }}</label>
            <input
                    ng-model="profile.dayOfLogin"
                    type="text"
                    class="form-control"
                    id="dayOfLogin"
                    placeholder="Day of login"
                    name="dayOfLogin"
                    required
                    date
                    ng-class="inputHasError(userForm.dayOfLogin)"
                    format-date="{{ DATE_FORMAT }}"
            >
            <div ng-show="userForm.dayOfLogin.$error.required" class="invalid-feedback">{{ 'LOGIN_DAY' | translate }} {{
                'IS_REQUIRED' | translate }}.
            </div>
            <div ng-show="userForm.dayOfLogin.$error.date" class="invalid-feedback">{{ 'INVALID_DATE_MESSAGE' |
                translate }}
            </div>
        </div>
        <div class="form-group">
            <label for="dayOfNextNotification">{{ 'NOTIFICATION_DAY' | translate }}</label>
            <input
                    ng-model="profile.dayOfNextNotification"
                    type="text"
                    class="form-control"
                    id="dayOfNextNotification"
                    placeholder="Day of notification"
                    name="dayOfNextNotification"
                    required
                    date
                    ng-class="inputHasError(userForm.dayOfNextNotification)"
                    format-date="{{ DATE_FORMAT }}"
            >
            <div ng-show="userForm.dayOfNextNotification.$error.required" class="invalid-feedback">{{ 'NOTIFICATION_DAY'
                | translate }} {{ 'IS_REQUIRED' | translate }}.
            </div>
            <div ng-show="userForm.dayOfNextNotification.$error.date" class="invalid-feedback">{{
                'INVALID_DATE_MESSAGE' | translate }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || loading">
            <i ng-show="loading" class="fa fa-spinner fa-spin"></i>&nbsp;{{ 'SUBMIT' | translate }}
        </button>
    </form>
</div>