<div class="col-md-6 offset-3 p-5">
    <h1>Forgot Password</h1>
    <p>Please enter the email address registered on your account</p>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
        <p><a ui-sref="login">Back to login page</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>