<div class="row">
    <div class="col-md-5">
        <img ng-src="./src/app/assets/img/default-profile.png" alt="..." class="img-thumbnail rounded-circle">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h3>{{ 'ACC_DETAILS' | translate }}</h3>
        <p>{{ 'NAME' | translate }}: {{ profile.name }}</p>
        <P>{{ 'AGE' | translate }}: {{ profile.age }}</P>
        <p>{{ 'BIRTHDAY' | translate }}: {{ profile.birthday | date:'longDate' }}</p>
        <p>{{ 'NOTIFICATION_DAY' | translate }}: {{ profile.dayOfNextNotification | date:'longDate' }}</p>
        <p>{{ 'LOGIN_DAY' | translate }}: {{ profile.dayOfLogin | date:'longDate' }}</p>
    </div>
</div>